main {
    padding: 20px 0;
    
  }
  section {
    margin-botton: 100px;
  }
   main h1 {
     margin: 0 10px;
     border-bottom: 1px solid black;
   }
  
 
main h2 {
    margin: 13px;
    border-bottom: 1px solid grey;
    
}
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
 .item {
   flex: 1;
   margin: 10px;
 }
 .item-douible {
   flex: 2;
   margin: 10px;
 }

 @media all and (min-width: 800px) {
   section {
     padding: 0 10%;
   }
   .group {
     flex-direction: row;
   }
 }


form {
  pading-right: 6px;
}
form input, form textarea {
  width: 100%;
  margin-bottom: 20px;

}
form textarea {
  height: 160px;
}

  
  form button {
    padding: 10px 16px;
    border-radius: 10px;
    border: 0;
    font-family: Tahoma;
    font-size: 16px;
    margin: 0 8px 10px 0;
    width: 80px;
    background:darkgray;
}







  @media all and (min-width: 800px) {
    section {
      padding: 0 10%;
    }
    .group {
      flex-direction: row;
    }
  }
